<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>ok</h1>
	<p>hello world!!!</p>
	<ul>
	</ul>
	<script>
		console.log({{list | dump | safe}});
	</script>
</body>
</html>